<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>


<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" name="password" type="password" placeholder="******"><br>
                <div class="d-grid gap-2">       <!--    Estica do botão do formulario -->
                <button type="submit" class="btn btn-success">logar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs'); %>